<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamPro.bbangShuttle.mapper.MemberMapper">

    <select id="getUsers" resultType="MemberVO">
        select * from user where id != 'admin';
    </select>

    <select id="selectOne" resultType="MemberVO">
        select * from user where userID=#{userID}
    </select>

    <update id="update">
        update user set userName=#{userName}, userEmail=#{userEmail},
                          userPwd=#{userPwd}, userPhone=#{userPhone}, userAddr=#{userAddr}, userBirth=#{userBirth},
                          userGender=#{userGender} where userID=#{userID}
    </update>

    <delete id="delete">
        delete from user where userID=#{userID}
    </delete>

</mapper>