<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamPro.bbangShuttle.mapper.OrderMapper">
    <select id="orderListByAll" resultType="OrderVO">
        select * from orderList
        order by orderNo desc;
    </select>

    <select id="orderListById" resultType="OrderVO">
        select * from orderList
        where userID = ${userID}
        order by orderNo desc;
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="orderNo">
        insert into orderList (userID, delyAddr, userPhone, payment, orderState,receiver)
        values (#{userID}, #{delyAddr}, #{userPhone}, #{payment} ,#{orderState},#{receiver})
    </insert>
</mapper>