<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamPro.bbangShuttle.mapper.QnAMapper">

    <!-- CRUD SQL문 -->
    <select id="selectList" resultType="QnAVO">
        SELECT * FROM qna
    </select>

    <select id="idList" resultType="QnAVO">
        SELECT * FROM qna
        where userID = #{userID}
    </select>

    <select id="selectOne" resultType="QnAVO">
        select * from qna where qnaNo=#{qnaNo}
    </select>

    <insert id="insert">
        <selectKey keyProperty="qnaNo" resultType="int" order="BEFORE"  >
            select IFNULL(max(qnaNo),0)+1 from qna
        </selectKey>
        insert into qna(qnaNo, userID, qnaTitle, qnaContent, regDate)
        values (#{qnaNo}, #{userID}, #{qnaTitle}, #{qnaContent}, NOW())
    </insert>

    <!-- answer_Insert -->
    <update id="ainsert">
        update qna
        set qnaAnswer = #{qnaAnswer}, a_regDate = NOW()
        where qnaNo = #{qnaNo}
    </update>

    <delete id="delete">
        delete from qna where qnaNo=#{qnaNo}
    </delete>
    
</mapper>