<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>board</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h2>** Board Detail **</h2>
<hr />
  <table th:each="apple : ${apple}">
    <tr height="40"><td bgcolor="Khaki">Seq</td><td th:text="${apple.noticeNo}"></td></tr>
    <tr height="40"><td bgcolor="Khaki">글쓴이</td><td>관리자</td></tr>
    <tr height="40"><td bgcolor="Khaki">Title</td><td th:text="${apple.noticeTitle}"></td></tr>
    <tr height="40"><td bgcolor="Khaki">Content</td>
      <td><textarea rows="5" cols="50" readonly="readonly" th:text="${apple.noticeContent}"></textarea></td>
    </tr>
    <tr height="40"><td bgcolor="Khaki">RegDate</td><td th:text="${apple.regDate}"></td></tr>
    <tr height="40"><td bgcolor="Khaki">조회수</td><td th:text="${apple.cnt}"></td></tr>
  </table>
<hr />
<!--<div th:if="${loginID == apple.id or loginID == 'admin'}">-->
&nbsp;&nbsp;<a th:href="@{noticedetail(jCode='U',noticeNo=${apple.noticeNo})}">[글수정]</a>
  &nbsp;&nbsp;<a th:href="@{noticedelete?noticeNo=} + ${apple.noticeNo}">[글삭제]</a>
  <!-- root 추가 : 삭제시 원글삭제 or 답글삭제 확인을 위함 -->
<!--</div>-->
<!--<div th:if="${#bools.notEmpty(loginID)}">-->
<!--  &nbsp;&nbsp;<a href="rinsert?root=${apple.root}&amp;step=${apple.step}&amp;indent=${apple.indent}" th:text="댓글"></a>-->
<!--  &lt;!&ndash; 댓글 입력시에는 부모글의 root, step, indent 가 필요하기때문에 같이 전송 &ndash;&gt;-->
<!--</div>-->
<hr />
&nbsp;&nbsp;<a href="noticelist">글목록</a>
&nbsp;&nbsp;<a href="javascript:history.go(-1)" th:text="이전으로"></a>
&nbsp;&nbsp;<a href="/">홈스윗홈</a>
</body>
</html>